*{
  margin: 0;
}

#storyBoard{
  width: 100%;
  background-color: blueviolet;
  height: 100vh;
}

#skipButton{
  width: 120px;
  height: 40px;
  background-color: rgb(161, 111, 209);
  border-radius: 5px;
  color:rgb(85, 45, 112);
  text-align: center;
  border: none;
  text-decoration: none;
  padding: 5px;
  font-size: large;
  box-shadow: inset 0px -6px 0px rgba(27, 24, 24, 0.349);
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}