#settingsSpace{
  height: 100%;
  width: 110px;
  right: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  padding-top: 40px;
  box-shadow: #0f0f0ef8 -2px -3px 7px;
  display: flex;
  flex-direction: column;
  border-left: #201f1fad 1.5px solid;
  background-color: blueviolet;
}
.settingsSpaceButton{
  width: 70px;
  height: 70px;
  top: 20px;
  background-color: #d6c3f38c;
  border-radius: 5px;
  font-family: amatic sc;
  font-size: 25px;
  opacity: 80%;
  color: black;
  box-shadow: rgba(53, 17, 99, 0.856) 0px 5px 0px;
  border: rgba(35, 11, 75, 0.856) 2px solid;
  margin: 10px;
}
.settingsSpaceButton:hover{
 
  transition: all .1s ease-in-out ;
  color: black;
  padding: 0px;
  background-color: rgba(247, 242, 253, 0.192);
  zoom: 101%;
  text-transform: uppercase;
  cursor: pointer;
}

/*LIGHT/DARK MODE --- switch that changes theme*/
#modeButtonContainer{
  background-color: rgb(232, 210, 241);
  border: rgba(56, 10, 83, 0.856) 2px solid;
  border-radius: 30px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  box-shadow: 0px 3px 3px #29043a;
}
.modeButton{
  padding: 8px;
  border: #191a188e 2px solid;
  border-radius: 3px;
  font-family: amatic sc;
  font-size: 30px;
  width: auto;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #6dabcf;
}
#lightMode{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 30%;
  transition: all .5s alternate;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.733);
}
#lightMode:hover{
  background-color: #5e90ad;
  cursor: pointer;
}
#darkMode{
  border-right: #191a1800 2px solid;
  background-color: rgba(0, 0, 0, 0.068);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
}
#lightbulb{
  width: 20px;
  padding: 1px;
}
    

/*RULE PAGE --- displays RULES for the game*/
#rulesPage{
  background-color: #e1e8ec;
  width: 450px;
  height: 350px;
  box-shadow: #191a184b 3px 3px 3px;
  border-radius: 5px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: amatic sc;
  flex-direction: column;
  position: absolute;
  top:25%;
  right:30%;
  border: #191a18 1.5px solid;
  padding: 10px;
  box-shadow: rgba(5, 5, 5, 0.856) 0px 5px 0px;
}
#rulesPage p{
  font-family: poppins;
  font-size: 14px;
  padding-bottom: 5px;
}

#rulesExitButton{
  border-radius: 5px;
  border: #191a18 1.5px solid;
  font-family: amatic sc;
  background-color: #b1f05f;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 800;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  border: none;
}
#rulesExitButton p {
  transform: rotate(40deg);
  font-size: 50px;
  font-family: amatic sc;
}
#rulesExitButton:hover{
  color:white;
}
#rulesExitButton p:hover{
  transform: rotate(90deg);
  transition: all .1s ease-in-out;
}


/*CHEAT SHEET PAGE --- displays hints for the game*/
#cheatSheetPage{
  background: inherit;
  background-color: #e1e8ec;
  width: 450px;
  height: auto;
  box-shadow: #191a184b 3px 3px 3px;
  border-radius: 5px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: amatic sc;
  flex-direction: column;
  position: absolute;
  top:25%;
  right:30%;
  border: #1b202096 2px solid;
  padding: 10px;
  box-shadow: rgba(5, 5, 5, 0.644) 0px 5px 0px;
}

#cheatSheetPage p{
  font-family: poppins;
  font-size: 14px;
  padding-bottom: 5px;
}
#cheatSheetExitButton{
  border-radius: 5px;
  border: #191a18 1.5px solid;
  font-family: amatic sc;
  background-color: #b1f05f;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 800;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  border: none;
}
#cheatSheetExitButton p {
  transform: rotate(40deg);
  font-size: 50px;
  font-family: amatic sc;
}
#cheatSheetExitButton:hover{
  color:white;
}
#cheatSheetExitButton p:hover{
  transform: rotate(90deg);
  transition: all .1s ease-in-out;
}
#cheatSheetList{
  display: flex;
  flex-direction: column;
}
#cheatSheetIcon{
  width:50px;
  height: 50px;
}

/*FAVICON*/
#favicon{
  width: 60px;
  height: 60px;
  margin: 30px;
  animation: rotateFavicon 5s ease-in alternate-reverse infinite;
}

@keyframes rotateFavicon{
  100%{
    transform: rotate(360deg);
    transform: rotateX(300deg);
  }
  50%{
    /* transform: rotateX(-300deg); */
    transform: rotateY(180deg);
    
  }
}


@media screen and (max-width: 900px) {
  #rulesPage {
      position: absolute;
      left: 100px;
      right: 100px;
      z-index: 9;
  }
}