
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shizuru&display=swap');

*{
  margin: 0;
}




.primaryElement{
  background-color: rgba(247, 242, 253, 0.377);
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Amatic SC;
  text-transform: capitalize;
  border-radius: 5px;
  font-size:larger;
  font-weight: 600;
  box-shadow: rgba(42, 38, 48, 0.336) 0px 5px 0px;
  border: #27252942 solid 1px;
}


#container {
  background: linear-gradient(90deg, #c586f0 10%, #00FFFF 0);
  width: 100%;
  height: 100vh;
  padding: 5px;
  position: relative;
}


.mixture{
  box-shadow: rgba(42, 38, 48, 0.336) 0px 5px 0px;
  border: #27252942 solid 1px;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
  font-family: amatic sc;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  font-weight: 800;
  text-transform: capitalize;
  border-radius: 5px;
  animation: pop 1s ease-in;
  animation-fill-mode: forwards;
  font-size: large;
}




/* primary elements */
#earth{
  background-image: url("images/earth.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;

}

#air{
  background-image: url("images/air.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

#fire{
  background-image: url("images/fire.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

#water{
  background-image: url("images/water.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

/* secondary elements */
#lava{
  background-image: url("images/lava.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#mud{
  background-image: url("images/mud.png");
  
}

#steam{
  background-image: url("images/steam.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#smoke{
  background-image: url("images/smoke.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#brick{
  background-image: url("images/brick.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}


/* #playGround{
  height: 100vh;
  width: 100%;
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

@keyframes pop {
  from {background-color: rgba(197, 216, 25, 0);
        border-radius: 100%;
        opacity: 0%;
        background-size: 0px;
        color: #01645500;
      }

    to {background-color: rgba(210, 214, 202, 0.26);
        border-radius: 5px;
        background-size: 60px;
      /* box-shadow: #016455b0; */
      color: black;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 0px;
    }
}


