@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shizuru&display=swap');

*{
  margin: 0;
}

.primaryElement{
  background-color: rgba(247, 242, 253, 0.377);
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Amatic SC;
  text-transform: capitalize;
  border-radius: 5px;
  font-size:larger;
  font-weight: 800;
  box-shadow: rgba(42, 38, 48, 0.336) 0px 5px 0px;
  border: #272529bd solid 2px;
  color: black;
}

.primaryElement:hover{
  text-transform: uppercase;
  background-color: rgba(247, 242, 253, 0.815);
}


#elementSpace {
  width: 125px;
  box-shadow: #2F4858 3px 3px 3px;
  border-right: #191a18 2px solid;
  height: 100%;
  background-color: blueviolet;
  
}

.mixture{
  background-color: rgba(247, 242, 253, 0.377);
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Amatic SC;
  text-transform: capitalize;
  border-radius: 5px;
  font-size:larger;
  font-weight: 800;
  box-shadow: rgba(42, 38, 48, 0.336) 0px 5px 0px;
  border: #272529bd solid 2px;
  color: black;
  animation: pop .5s ease-in-out;
}

.mixture:hover{
  text-transform: uppercase;
  background-color: rgba(247, 242, 253, 0.815);
}






#rulesPage p{
  font-family: poppins;
  font-size: 14px;
  padding-bottom: 5px;
}






#hintList{
  display: flex;
  flex-direction: column;
}

#hintIcon{
  width:50px;
  height: 50px;
}


/* primary elements */
#earth{
  background-image: url("images/earth.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;

}

#air{
  background-image: url("images/air.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

#fire{
  background-image: url("images/fire.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

#water{
  background-image: url("images/water.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: relative;
}

/* secondary elements */
#lava{
  background-image: url("images/lava.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#mud{
  background-image: url("images/mud.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#steam{
  background-image: url("images/steam.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#smoke{
  background-image: url("images/smoke.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}

#brick{
  background-image: url("images/brick.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  opacity: 0;
}


#gameSpace{
  background-image: linear-gradient( #04ff8a, rgb(131, 138, 233));
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-image: url("images/banner.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
} 

@keyframes pop {
  from {background-color: rgba(197, 216, 25, 0);
        border-radius: 100%;
        opacity: 0%;
        background-size: 0px;
        color: #01645500;
      }

    to {background-color: rgba(210, 214, 202, 0.26);
        border-radius: 5px;
        background-size: 60px;
      /* box-shadow: #016455b0; */
      color: black;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 0px;
    }
}


@keyframes backgroundColorChanger {
  100% {background-image: linear-gradient( #5b02af, rgb(165, 97, 253));}
   50% {background-image: linear-gradient( #530ef5, rgb(149, 47, 233));}
   25% {background-image: linear-gradient( #530ef5, rgb(149, 47, 233));}
    0% {background-image: linear-gradient( #58018a, rgb(135, 43, 158));}
}





@media screen and (max-width: 900px) {
  #rulesPage {
  background-color: #e1e8ec;
  width: 400px;
  height: auto;
  box-shadow: #191a184b 3px 3px 3px;
  border-radius: 5px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: amatic sc;
  flex-direction: column;
  position: absolute;
  border: #191a18 1px solid;
  padding: 10px;
  z-index: 7;
  }
}

