
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  margin: 0;
}


#circle{
  background-color: cyan;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.651);
}

#fire{
  background-color: rgb(226, 110, 57);
  width:100px;
  height: 100px;
}
#water{
  background-color: rgb(29, 97, 187);
  width:100px;
  height: 100px;
}

#air{
  background-color: rgb(178, 166, 185);
  width:100px;
  height: 100px;
}

#earth{
  background-color: rgb(37, 107, 54);
  width:100px;
  height: 100px;
}

.element{
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: poppins;
  text-transform: capitalize;
  border-radius: 5px;
}


#container {
  background: linear-gradient(90deg, #FFC0CB 15%, #00FFFF 0);
  width: 100%;
  height: 100vh;
  padding: 5px;
  overflow: scroll;
  
  
}


.mixture{
  background-color: rgb(51, 51, 59);
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items:flex-end;
  box-shadow: rgba(0, 0, 0, 0) 3px 4px 5px;
  font-family: poppins;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 5px;
  opacity: 80%;
}



.mixture:hover{
  zoom:105%;
  opacity: 100%;
  transition: all 1s ease-in-out;
}

/* primary elements */
#earth{
  background-image: url("/images/earth.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#air{
  background-image: url("/images/air.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#fire{
  background-image: url("/images/fire.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#water{
  background-image: url("/images/water.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

/* secondary elements */
#lava{
  background-image: url("/images/lava.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#mud{
  background-image: url("/images/mud.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#steam{
  background-image: url("/images/steam.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#smoke{
  background-image: url("/images/smoke.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

#brick{
  background-image: url("/images/brick.png");
  background-color: rgba(255, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

/* #mixContainer{
  width: 85%;
  height: 100vh;
  background-color: blue;


} */

#playGround{

  height: 100vh;
  width: 100%;
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.alertNote{
  background-color: rgb(229, 255, 114);
  width: 250px;
  height: 200px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  bottom: 50%;
  right: 40%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.158);
}