*{
  margin:0px;
}

#gameBoard{
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
  display: flex;

}

#elementList{
  background-color: rgb(255, 196, 0);
  width:10%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: rgba(196, 161, 5, 0.555) 3px solid;
  box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.411);
  overflow: hidden;
  z-index: 2;
}

#elementId{
  background-color: blue;
  width: 200px;
  height: 80px;

}

#mixtureContainer{
  width: 90%;
  background-color: rgb(127, 38, 150);
  height:100%;
  border: rgb(87, 10, 117) 3px solid;
}

#settingsContainer{
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247) ;
  position:absolute;
  right:0px;
  display: flex;
}

#demo{
  background-color: black;
  width:500px;
  height: 500px;
  padding: 10px;
}

#ball{
  width:75px;
  height: 75px;
  background-color: red;
  border-radius: 100%;
}

.person{
  width:75px;
  height: 75px;
  background-color: blue;
  margin: 5px;
}

#person.brenda{
  background-color: aqua;
}
#person.meg{
  background-color: rgb(69, 155, 155);
}
#person.john{
  background-color: rgb(100, 236, 168);
}
#person.rudy{
  background-color: rgb(191, 221, 221);
}